body {
  margin: 0;
  font-family: "Lucida Grande";
}


  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }


.btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
  }

  .github {
  background-color: #090f1f;
}
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
<!--Profil Wrapper-->

.profile-wrapper {
  height: 720px;
  width: 100%;
  padding-bottom: 80px;
  background-color: #eaf1ff;
  background-size: cover;
  text-align: center;
}

.heading h1 {
  color: #1b1a1b;
  letter-spacing: 15px;
  font-size: 30px;
}

.profile {
  float: left;
  width: 18%;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgb(193, 203, 235);
  box-shadow: hsl(221, 30%, 77%) 3px 3px ;
  line-height: 25px;
    
  }

.profile-icon {
  position: relative;
}

.profile img {
  width: 80%;
}

.txt-contents {
  width: 90%;
  display: inline-block;
  font-size: 15px;
  color: #091d49;
  font-family: cambria;
}

.sosmed-wrapper {
  margin: 10px 0;
}

<!--End Profil Wrapper-->


  
