body {
  margin: 0;
  font-family: "Lucida Grande";
}


  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }


.btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
<!--Profil Wrapper-->

  .profile-wrapper {
    height: 2300px;
    padding-bottom: 80px;
    background-color: rgb(196, 228, 255);
    text-align: center;
  }
  
  .heading h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #5f5d60;
    letter-spacing: 10px;
  }
  
  .profiles {
    margin-left: 150px;
    }

  .profile {
    width: 80%;
    text-align: center;
    background-image: url(ds_risma.png);
    background-size: cover;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    line-height: 25px;
    }
  
  .profile-icon {
    position: relative;
    }

  .profile img {
    width: 20%;
    }
  
  .txt-contents {
    width: 70%;
    font-family: "Lucida Sans";
    font-weight: bold;
    display: inline-block;
    font-size: 13px;
    color: #000000;
    }

  .sosmed-wrapper {
    margin: 10px ;
    }

<!--End Profil Wrapper-->


  
